RewriteEngine On
# This will enable the Rewrite capabilities

RewriteCond %{HTTPS} !=on
# This checks to make sure the connection is not already HTTPS

RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R=301,L]
# This rule will redirect users from their original location, to the same location but using HTTPS.
# i.e.  http://www.example.com/foo/ to https://www.example.com/foo/
# The leading slash is made optional so that this will work either in httpd.conf
# or .htaccess context

# Remove www.
RewriteCond %{HTTP_HOST} ^www\. [NC]
RewriteRule ^/?(.*) https://gobbe.net%{REQUEST_URI} [L,R=301]

# Redirect old posts URLs to new ones
Redirect 301 /2013/05/25/using-the-rest-api-in-a-sharepoint-hosted-app-2/ /posts/20130525-sharepoint-rest-api/
Redirect 301 /2013/05/26/working-with-the-clientcontext-through-multiple-pages-in-a-sharepoint-cloud-hosted-app/ /posts/20130526-sharepoint-multiple-pages-clientcontext/
Redirect 301 /2013/06/06/use-database-tables-as-sharepoint-lists-in-a-sharepoint-hosted-app-with-a-bcs-business-connectivity-service/ /posts/20130606-sharepoint-business-connectivity-service/
Redirect 301 /2013/06/07/building-an-asp-net-mvc-remote-web-in-a-sharepoint-cloud-hosted-app/ /posts/20130607-sharepoint-asp-net-cloud-hosted-app/
Redirect 301 /2013/06/13/use-the-asp-net-membership-in-a-signalr-chat-with-an-asp-net-mvc-4-application/ /posts/20130613-asp-net-chat-with-signalr-and-membership/
Redirect 301 /2014/07/12/sharepoint-list-dao-with-typescript/ /posts/20140712-sharepoint-typescript-list-dao/

Redirect 301 /2016/10/02/github-gist-now-displayed-correctly-when-embedded-into-wordpress-with-the-theme-twenty-sixteen/ /posts/
Redirect 301 /posts/02/github-gist-now-displayed-correctly-when-embedded-into-wordpress-with-the-theme-twenty-sixteen/ /posts/

# Redirect categories
Redirect 301 /category/sharepoint/ /categories/sharepoint/
Redirect 301 /category/asp-net/ /categories/asp.net/
Redirect 301 /category/miscellaneous/ /

# Redirect tags
Redirect 301 /tag/typescript/ /tags/typescript/
Redirect 301 /tag/bcs/ /tags/bcs/
Redirect 301 /tag/csom/ /tags/csom/
Redirect 301 /tag/rest/ /tags/rest/
Redirect 301 /tag/signalr/ /tags/signalr/
Redirect 301 /tag/odata/ /tags/odata/
Redirect 301 /tag/sharepoint-apps/ /tags/sharepoint-apps/
Redirect 301 /tag/sharepoint-2013/ /tags/sharepoint-2013/
Redirect 301 /tag/aspnet-mvc/ /tags/aspnet-mvc/


# Redirect other pages
Redirect 301 /about/ /
Redirect 301 /author/ggobbe/ /
Redirect 301 /2013 /posts/
Redirect 301 /2013/05/ /posts/
Redirect 301 /2013/06/ /posts/
Redirect 301 /2014/07/ /posts/
Redirect 301 /2016/10/ /posts/
Redirect 301 /tag/bugfix/ /posts/
Redirect 301 /tag/github/ /posts/
Redirect 301 /tag/css/ /posts/
Redirect 301 /tag/wordpress/ /posts/
Redirect 301 /posts/05/ /posts/